{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}

{% block head %}
    {{ helper.seealso_head("gndaks", "https://beacon.findbuch.de/seemore/gnd-aks/-dewp@wd") }}
{% endblock %}

{% block body %}
    <h2>
        {{ entity.localizedName(app.request.locale, '_') }}
        <a href="{{ path('organization-edit', { 'id' : entity.id }) }}" class="btn btn-default btn-sm">
            <span class="fa fa-edit"></span> {{ 'Edit'|trans }}
        </a>
    </h2>
    {{ helper.display_flashes() }}
    {#{ dump(organization) }#}
    {#{ dump(entity) }#}
    <div class="row">
        <div class="col-sm-8">
            <dl>
            {% if entity.foundingLocation is not empty or entity.foundingDate is not empty %}
                <dt>{{ 'Founded'|trans }}:</dt>
                <dd>
                    {{ entity.foundingLocation }}
                    {{ entity.foundingDate|dateincomplete }}
                </dd>
            {% endif %}
            {% if entity.precedingOrganization is not null %}
                <dt>{{ 'Predecessor'|trans }}:</dt>
                <dd>
                    <a href="{% if entity.precedingOrganization.gnd is not empty %}{{ path('organization-by-gnd', { 'gnd' : entity.precedingOrganization.gnd }) }}{% else %}{{ path('organization', { 'id' : entity.precedingOrganization.id }) }}{% endif %}">{{ entity.precedingOrganization.nameLocalized(app.request.locale) }}</a>
                </dd>
            {% endif %}
            {% if entity.dissolutionDate is not empty %}
                <dt>{{ 'Dissolved'|trans }}:</dt>
                <dd>
                    {{ entity.dissolutionDate|dateincomplete }}
                </dd>
            {% endif %}
            {% if entity.succeedingOrganization is not null %}
                <dt>{{ 'Successor'|trans }}:</dt>
                <dd>
                    <a href="{% if entity.succeedingOrganization.gnd is not empty %}{{ path('organization-by-gnd', { 'gnd' : entity.succeedingOrganization.gnd }) }}{% else %}{{ path('organization', { 'id' : entity.succeedingOrganization.id }) }}{% endif %}">{{ entity.succeedingOrganization.nameLocalized(app.request.locale) }}</a>
                </dd>
            {% endif %}
            {% if entity.url is not empty %}
                <dt>{{ 'Homepage'|trans }}:</dt>
                <dd>
                    <a href="{{ entity.url }}" target="_blank">{{ entity.url|prettifyurl }}</a>
                </dd>
            {% endif %}
            </dl>

            {{ helper.display_info(entity) }}
        </div>

        <div class="col-sm-4 sidebar">
            {% if entity.hasIdentifiers %}
                {{ helper.seealso_box(entity, 'organization-lookup-identifier', 'gndaks') }}
            {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}