{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}

{% block body %}
    <h2>
        {% if entity.id is empty %}
        {{ 'Add Organization'|trans }}
        {% else %}
        <a href="{{ path('organization-detail', { 'id' : entity.id }) }}">
            {{ entity.name }}
        </a>
        {% endif %}
    </h2>
    {{ helper.display_flashes() }}

    {# renders all fields *and* the form start and end tags #}
    {{ form(form) }}
{% endblock %}