<!doctype html>
<html class="no-js" lang="{{ app.request.getLocale() }}"
      prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# place: http://ogp.me/ns/place# books: http://ogp.me/ns/books#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
        {% if pageTitle is defined %}
            {{ pageTitle }} |
        {% endif %}
        {{ siteName|trans({}, 'additional') }}
        </title>

        {% if pageMeta is defined %}
            {% if pageMeta.og is defined %}
                {% for prop, val in pageMeta.og %}
                    {% if val is iterable %}
                        {% for single_val in val %}
        <meta property="{{ prop }}" content="{{ single_val }}">
                        {% endfor %}
                    {% else %}
        <meta property="{{ prop }}" content="{{ val }}">
                    {% endif %}
                {% endfor %}
                {% if pageMeta.og['og:url'] is defined %}
        <link rel="canonical" href="{{ pageMeta.og['og:url'] }}">
                {% endif %}
            {% endif %}
            {% if pageMeta.twitter is defined %}
                {% for prop, val in pageMeta.twitter %}
                    {% if val is iterable %}
                        {% for single_val in val %}
        <meta name="{{ prop }}" content="{{ single_val }}">
                        {% endfor %}
                    {% else %}
        <meta name="{{ prop }}" content="{{ val }}">
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if pageMeta.jsonLd is defined %}
        <script type="application/ld+json">
            {{ pageMeta.jsonLd|json_encode|raw }}
        </script>
            {% endif %}
        {% elseif pageTitle is defined %}
        <meta property="og:title" content="{{ pageTitle }}">
        {% endif %}

        <script src="{{ app.request.basepath }}/js/jquery-3.4.1.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css">
        <!-- see https://stackoverflow.com/a/41281304 -->
        <link href="{{ app.request.basepath }}/vendor/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ app.request.basepath }}/vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

        {#
            triggers scssphp, this one doesn't prepend app.request.basepath
            since it overrides \Symfony\Bridge\Twig\Extension\AssetExtension
            and doesn't prepend $this->getBasePath().ltrim($versionedPath, '/')
            as in Symfony\Component\Asset\PathPackage
        #}
        <link href="{{ app.request.basepath }}{{ asset('css/base.css') }}" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>

    <body role="document" class="route-{{ app.request.get('_route') | replace({'_' : '-'}) }}">
        <nav class="navbar sticky-top bg-dark flex-column p-0">
            <div class="d-flex w-100">
                <div class="mr-auto p-2">
                    <a class="navbar-brand" href="{{ path('home') }}">{{ siteHeader|trans({}, 'additional') }}</a>
                </div>
                <div class="p-2" id="site-user">
                    {#{ knp_menu_render('top') }#}
                    {% if app.request.attributes.get('_route') is not null %}
                        <ul id="menu-lang" class="list-inline">
                        {% for locale in locales %}
                            <li class="list-inline-item"{% if locale == app.request.locale %} class="current"{% endif %}>
                                {% if route_params_locale_switch is not empty and route_params_locale_switch[locale] is defined %}
                                    {% set route_params = route_params_locale_switch[locale] %}
                                {% else %}
                                    {% set route_params = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}
                                {% endif %}
                                <a href="{{ path(app.request.attributes.get('_route'), route_params|merge({"_locale": locale})) }}">{{ locale }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ app.user.username }}
                        <a href="{{ path('logout') }}" title="{{ 'Log-out'|trans }}" class="fa fa-sign-out"></a>
                    {% endif %}
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="d-flex w-100 pl-2">
               {{ knp_menu_render('main', { 'currentClass': 'active', 'template': 'Base/knp_menu.html.twig' }) }}
            </div>
            {% endif %}
        </nav>

        {% block contenttop %}
        <div class="container-fluid" id="breadcrumb">
        {% block breadcrumb %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 small">
                        {% set item = knp_menu_get('breadcrumb') %}
                        {% set breadcrumbs_array = knp_menu_get_breadcrumbs_array(item) %}
                        <ul class="list-inline">
                        {% for item in breadcrumbs_array %}
                            {%- if loop.last == false -%}
                                <li class="list-inline-item">{%- if item.uri -%}<a
                                    href="{{ item.uri }}">{{ item.label|trans({}, 'messages') }}</a>{%- else -%}{{ item.label|trans({}, 'menu') }}{%- endif -%}
                                    &nbsp; &nbsp;<span class="divider">/</span></li>
                            {% else %}
                                <li class="list-inline-item active">{{ item.label|trans({}, 'messages') }}</li>
                            {%- endif -%}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}
        </div><!-- .container-fluid -->
        {% endblock %}

        <div class="container wrapper">
        {% block body %}{% endblock %}
        </div>

        <footer>
            <div id="footer-navigation" class="container">
                <div class="row">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="col-xs-12 col-xs-8" style="z-index: 1">
                        {{ knp_menu_render('footer-main', { 'currentClass': 'active', 'template': 'Base/knp_menu.html.twig' }) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </footer>
    </body>
</html>
