{% macro display_flashes() %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro copy_to_clipboard_button(id, title) %}
    <button title="{{ title }}" onclick="copyToClipboard('{{ id }}')"><i class="fa fa-copy"></i> </button>
{% endmacro %}

{% macro copy_to_clipboard_head() %}
    <script>
    /* see https://stackoverflow.com/a/30905277 */
    function copyToClipboard(elementId) {
        // Create a "hidden" input
        var aux = document.createElement("input");

        // Assign it the value of the specified element
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);

        // Append it to the body
        document.body.appendChild(aux);

        // Highlight its content
        aux.select();

        // Copy the highlighted text
        document.execCommand("copy");

        // Remove it from the body
        document.body.removeChild(aux);
    }
    </script>
{% endmacro %}

{% macro dropzone_fileinput() %}
    {# see https://stackoverflow.com/a/12713396, TODO: make name/id configurable and support multiple elements in form #}
    <div id="drop-zone">
        {{ 'Drop file here...'|trans }}
        <div id="clickHere">
            {{ '...or click here'|trans }}
            <input type="file" name="file" id="file" />
        </div>
        <div id="filename"></div>
    </div>
{% endmacro %}

{% macro dropzone_head() %}
    <style>
    #drop-zone {
        /*Sort of important*/
        width: 300px;
        /*Sort of important*/
        height: 200px;
        border: 2px dashed rgba(0,0,0,.3);
        border-radius: 20px;
        font-family: Arial;
        text-align: center;
        position: relative;
        line-height: 180px;
        font-size: 20px;
        color: rgba(0,0,0,.3);
    }

    #drop-zone input {
        /*Important*/
        position: absolute;
        /*Important*/
        cursor: pointer;
        left: 0px;
        top: 0px;
        /*Important This is only comment out for demonstration purposes. */
        opacity:0;
    }

    #drop-zone #filename {
        line-height: 1.2rem;
        font-size: 1rem;
        position: absolute;
        text-align: center;
        bottom: 10px;
        float: none;
        width: 100%;
    }

    /*Important*/
    #drop-zone.mouse-over {
        border: 2px dashed rgba(0,0,0,.5);
        color: rgba(0,0,0,.5);
    }

    /*If you dont want the button*/
    #clickHere {
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: 20px;
        line-height: 26px;
        color: white;
        font-size: 12px;
        width: 140px;
        height: 26px;
        border-radius: 4px;
        background-color: #3b85c3;
    }

    #clickHere:hover {
        background-color: #4499DD;
    }
    </style>

    <script>
    $(function () {
        var dropZoneId = "drop-zone";
        var buttonId = "clickHere";
        var mouseOverClass = "mouse-over";

        var dropZone = $("#" + dropZoneId);
        var ooleft = dropZone.offset().left;
        var ooright = dropZone.outerWidth() + ooleft;
        var ootop = dropZone.offset().top;
        var oobottom = dropZone.outerHeight() + ootop;
        var inputFile = dropZone.find("input");

        inputFile.change(function() {
            var input = this;
            var fname = $(this).val().replace("C:\\fakepath\\", ""); // see https://davidwalsh.name/fakepath
            $('#filename').html(fname);
        });

        document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
            e.preventDefault();
            e.stopPropagation();
            dropZone.addClass(mouseOverClass);
            var x = e.pageX;
            var y = e.pageY;

            if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
                inputFile.offset({ top: y - 15, left: x - 100 });
            } else {
                inputFile.offset({ top: -400, left: -400 });
            }

        }, true);

        if (buttonId != "") {
            var clickZone = $("#" + buttonId);

            var oleft = clickZone.offset().left;
            var oright = clickZone.outerWidth() + oleft;
            var otop = clickZone.offset().top;
            var obottom = clickZone.outerHeight() + otop;

            $("#" + buttonId).mousemove(function (e) {
                var x = e.pageX;
                var y = e.pageY;
                if (!(x < oleft || x > oright || y < otop || y > obottom)) {
                    inputFile.offset({ top: y - 15, left: x - 160 });
                } else {
                    inputFile.offset({ top: -400, left: -400 });
                }
            });
        }

        document.getElementById(dropZoneId).addEventListener("drop", function (e) {
            $("#" + dropZoneId).removeClass(mouseOverClass);
        }, true);
    })
    </script>
{% endmacro %}

{% macro seealso_head(service_key = "pndaks", service_url="https://beacon.findbuch.de/seealso/pnd-aks/-lemo@ap") %}
    <script src="{{ app.request.basepath }}/js/seealso.js"></script>
    <script>
        var service = new SeeAlsoCollection();
        service.services = {
            '{{ service_key }}' : new SeeAlsoService('{{ service_url }}')
        };
        service.views = {
            'seealso-ul' : new SeeAlsoUL({
                linkTarget: '_blank',
                maxItems: 100
            })
        };
        service.replaceTagsOnLoad();
    </script>
{% endmacro %}

{% macro display_info(entity) %}
    {% set description = entity.getDisambiguatingDescription(app.request.locale) %}
    {% if description is not empty %}
    <p>{{ description|prettifyurl|nl2br  }}</p>
    {% endif %}
{% endmacro %}

{% macro seealso_box(entity, lookup_route, service_key = "pndaks") %}
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>
                            {% if entity.gnd is not empty %}
                            {{ 'Integrated Authority File'|trans }}
                            <br /><a href="https://d-nb.info/gnd/{{ entity.gnd }}" target="_blank">{{ entity.gnd }}</a>
                            {% else %}
                            {{ 'Additional Information'|trans }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
                <div class="row box-color-content-inverse">
                    <div class="col-sm-12 beacon-ul">
                        <ul>
                            {% set lookupIdentifier = false %}
                            {% if entity.wikidata is not empty %}
                            <li>
                                Wikidata: <a href="https://www.wikidata.org/wiki/{{ entity.wikidata }}" target="_blank">{{ entity.wikidata }}</a>
                            </li>
                            {% else %}
                                {% set lookupIdentifier = true %}
                            {% endif %}
                            {% if entity.lcauth is not empty %}
                            <li>
                                LoC authority ID: <a href="https://id.loc.gov/authorities/{{ entity.lcauth }}" target="_blank">{{ entity.lcauth }}</a>
                            </li>
                            {% else %}
                                {% set lookupIdentifier = true %}
                            {% endif %}
                            {% if entity.viaf is not empty %}
                            <li>
                                VIAF: <a href="https://viaf.org/viaf/{{ entity.viaf }}" target="_blank">{{ entity.viaf }}</a>
                            </li>
                            {% else %}
                                {% set lookupIdentifier = true %}
                            {% endif %}
                            {% if lookupIdentifier and lookup_route is not empty %}
                            <li>
                                <a href="{{ path(lookup_route, { 'id' : entity.id }) }}" class="btn btn-default btn-sm">
                                    <span class="fa fa-refresh"></span> {{ 'Lookup additional'|trans }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if entity.gnd is not empty %}
                    <div class="col-sm-12">
                        <div title="{{ entity.gnd }}" class="{{ service_key }} seealso-ul"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
{% endmacro %}