{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}

{% block head %}
    {{ helper.seealso_head() }}
{% endblock %}

{% block body %}
    <h2>
        {{ entity.localizedName(app.request.locale, '_') }}
        <a href="{{ path('person-edit', { 'id' : entity.id }) }}" class="btn btn-default btn-sm">
            <span class="fa fa-edit"></span> {{ 'Edit'|trans }}
        </a>
    </h2>
    {{ helper.display_flashes() }}
    {# dump(entity) #}

    <div class="row">
        <div class="col-sm-8">
            <dl>
            {% set birthPlace = entity.birthPlace %}
            {% if birthPlace is not null or entity.birthDate is not empty %}
                <dt>{{ 'Born'|trans }}:</dt>
                <dd>
                    {{ entity.birthDate|dateincomplete -}}
                    {% if birthPlace is not null %}{% if entity.birthDate is not empty %}{{- ',' }}{% endif %}
                        {% if birthPlace.id is not empty %}
                            <a href="{% if birthPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : birthPlace.tgn }) }}{% else %}{{ path('place', { 'id' : birthPlace.id }) }}{% endif %}">
                            {{ birthPlace.localizedName(app.request.locale, '_') }}
                            </a>
                        {% else %}
                            {{ birthPlace.localizedName(app.request.locale, '_') }}
                        {% endif %}
                    {% endif %}
                </dd>
            {% endif %}
            {% set deathPlace = entity.deathPlace() %}
            {% if deathPlace is not null or entity.deathDate is not empty %}
                <dt>{{ 'Died'|trans }}:</dt>
                <dd>
                    {{ entity.deathDate|dateincomplete -}}
                    {% if deathPlace is not null %}{% if entity.deathDate is not empty %}{{- ',' }}{% endif %}
                        {% if deathPlace.id is not empty %}
                            <a href="{% if deathPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : deathPlace.tgn }) }}{% else %}{{ path('place', { 'id' : deathPlace.id }) }}{% endif %}">
                            {{ deathPlace.localizedName(app.request.locale, '_') }}
                            </a>
                        {% else %}
                            {{ deathPlace.localizedName(app.request.locale, '_') }}
                        {% endif %}
                    {% endif %}
                </dd>
            {% endif %}
            {% if entity.url is not empty %}
                <dt>{{ 'Homepage'|trans }}:</dt>
                <dd>
                    <a href="{{ entity.url }}" target="_blank">{{ entity.url|prettifyurl }}</a>
                </dd>
            {% endif %}
            </dl>

            {{ helper.display_info(entity) }}
        </div>

        <div class="col-sm-4 sidebar">
            {% if entity.hasIdentifiers %}
                {{ helper.seealso_box(entity, 'person-lookup-identifier') }}
            {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}