{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}

{% block head %}
    <script src="{{ app.request.basepath }}/js/seealso.js"></script>
    <script>
        var service = new SeeAlsoCollection();
        service.services = {
            'pndaks' : new SeeAlsoService('https://beacon.findbuch.de/seealso/pnd-aks/-lemo@ap')
        };
        service.views = {
            'seealso-ul' : new SeeAlsoUL({
                linkTarget: '_blank',
                maxItems: 100
            })
        };
        service.replaceTagsOnLoad();
    </script>
{% endblock %}

{% block body %}
    <h2>
        {{ entity.fullname(true) }}
        <a href="{{ path('person-edit', { 'id' : entity.id }) }}" class="btn btn-default btn-sm">
            <span class="fa fa-edit"></span> {{ 'Edit'|trans }}
        </a>
    </h2>
    {{ helper.display_flashes() }}
    {# dump(entity) #}

    <div class="row">
        <div class="col-sm-8">
            <dl>
            {% set birthPlace = entity.birthPlaceInfo(app.request.locale) %}
            {% if birthPlace is not empty or entity.birthDate is not empty %}
                <dt>{{ 'Born'|trans }}:</dt>
                <dd>
                    {{ entity.birthDate|dateincomplete -}}
                    {% if birthPlace is not empty %}{% if entity.birthDate is not empty %}{{- ',' }}{% endif %}
                        {% if birthPlace.id is not empty %}
                            <a href="{% if birthPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : birthPlace.tgn }) }}{% else %}{{ path('place', { 'id' : birthPlace.id }) }}{% endif %}">
                            {{ birthPlace['name'] }}
                            </a>
                        {% else %}
                            {{ birthPlace['name'] }}
                        {% endif %}
                    {% endif %}
                </dd>
            {% endif %}
            {% set deathPlace = entity.deathPlaceInfo(app.request.locale) %}
            {% if deathPlace is not empty or entity.deathDate is not empty %}
                <dt>{{ 'Died'|trans }}:</dt>
                <dd>
                    {{ entity.deathDate|dateincomplete -}}
                    {% if deathPlace is not empty %}{% if entity.deathDate is not empty %}{{- ',' }}{% endif %}
                        {% if deathPlace.id is not empty %}
                            <a href="{% if deathPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : deathPlace.tgn }) }}{% else %}{{ path('place', { 'id' : deathPlace.id }) }}{% endif %}">
                            {{ deathPlace['name'] }}
                            </a>
                        {% else %}
                            {{ deathPlace['name'] }}
                        {% endif %}
                    {% endif %}
                </dd>
            {% endif %}
            {% if entity.url is not empty %}
                <dt>{{ 'Homepage'|trans }}:</dt>
                <dd>
                    <a href="{{ entity.url }}" target="_blank">{{ entity.url|prettifyurl }}</a>
                </dd>
            {% endif %}
            </dl>

            {% if entity.disambiguatingDescriptionEn is not empty %}
            <p>{{ entity.disambiguatingDescriptionEn|prettifyurl|nl2br  }}</p>
            {% endif %}
            {% if entity.disambiguatingDescriptionDe is not empty %}
            <p>{{ entity.disambiguatingDescriptionDe|prettifyurl|nl2br  }}</p>
            {% endif %}
        </div>

        <div class="col-sm-4 sidebar">
            {% if entity.hasIdentifiers %}
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>
                            {% if entity.gnd is not empty %}
                            {{ 'Integrated Authority File'|trans }}
                            <br /><a href="http://d-nb.info/gnd/{{ entity.gnd }}" target="_blank">{{ entity.gnd }}</a>
                            {% else %}
                            {{ 'Additional Information'|trans }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
                <div class="row box-color-content-inverse">
                    {% if entity.lccn is not empty or entity.viaf is not empty or entity.wikidata is not empty%}
                    <div class="col-sm-12 beacon-ul">
                        <ul>
                            {% set lookupIdentifier = false %}
                            {% if entity.wikidata is not empty %}
                            <li>
                                Wikidata: <a href="https://www.wikidata.org/wiki/{{ entity.wikidata }}" target="_blank">{{ entity.wikidata }}</a>
                            </li>
                            {% else %}
                                {% set lookupIdentifier = true %}
                            {% endif %}
                            {% if entity.lccn is not empty %}
                            <li>
                                LoC Call Number: <a href="https://id.loc.gov/authorities/{{ entity.lccn }}" target="_blank">{{ entity.lccn }}</a>
                            </li>
                            {% else %}
                                {% set lookupIdentifier = true %}
                            {% endif %}
                            {% if entity.viaf is not empty %}
                            <li>
                                VIAF: <a href="https://viaf.org/viaf/{{ entity.viaf }}" target="_blank">{{ entity.viaf }}</a>
                            </li>
                            {% else %}
                                {% set lookupIdentifier = true %}
                            {% endif %}
                            {% if lookupIdentifier %}
                            <li>
                                <a href="{{ path('person-lookup-identifier', { 'id' : entity.id }) }}" class="btn btn-default btn-sm">
                                    <span class="fa fa-refresh"></span> {{ 'Lookup additional'|trans }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if entity.gnd is not empty %}
                    <div class="col-sm-12">
                        <div title="{{ entity.gnd }}" class="pndaks seealso-ul"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}