{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}
{% import 'Shared/entity-lookup.html.twig' as entityLookup %}

{% block head %}
    {{ helper.copy_to_clipboard_head() }}

    <script src="{{ app.request.basepath }}/js/Sortable.min.js"></script>

    <script>
    $(function () {
        initEntityRef('.article');

        // turn regular link into post, see https://stackoverflow.com/a/27208677
        $("a.post").click(function(e) {
            e.stopPropagation();
            e.preventDefault();
            var href = this.href;
            var parts = href.split('?');
            var url = parts[0];
            var params = parts[1].split('&');
            var pp, inputs = '';
            for (var i = 0, n = params.length; i < n; i++) {
                pp = params[i].split('=');
                inputs += '<input type="hidden" name="' + pp[0] + '" value="' + pp[1] + '" />';
            }
            $("body").append('<form action="'+url+'" method="post" id="poster">'+inputs+'</form>');
            $("#poster").submit();
        });
    });
    </script>

    {{ entityLookup.head(entity_lookup) }}
{% endblock %}

{% block body %}
    {{ helper.render_parent_path(parentPath) }}

    <h1 class="richtext">
        {{ titleHtml|raw }}
        <a href="{{ path('resource-edit', { volume: volume.data.id, id: id }) }}" class="btn btn-default btn-md">
            <span class="fa fa-edit"></span> {{ 'Edit'|trans }}
        </a>
    </h1>
    {{ helper.display_flashes() }}

    {% if showAddEntities == 2 %}
        <div><a class="post" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'action': 'link-entities-save'})) }}">{{ 'Save Named Entities'|trans }}</a></div>
    {% endif %}

    <div style="text-align: right">
        <a href="{{ path(app.request.attributes.get('_route') ~ '-pdf', app.request.attributes.get('_route_params')) }}">{{ 'Print Version'|trans }}</a><br />
        <a href="{{ path(app.request.attributes.get('_route') ~ '-dc', app.request.attributes.get('_route_params')) }}">{{ 'Dublin Core'|trans }}</a><br />
        WebDAV: <span id="url">{{ webdav_base }}/{{ volume.data.id }}/{{ resource['data'].fname }}</span>
            {{ helper.copy_to_clipboard_button('url', 'Copy to Clipboard, then press [Ctrl]-u in oXygen and paste to open'|trans) }}
        {% if showAddEntities == 1 %}
            <br /><a class="post" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'action': 'link-entities'})) }}">{{ 'Link Named Entities'|trans }}</a>
        {% endif %}
        {% if updateFromCollectiveAccess is not empty %}
            <br /><a class="post" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'action': 'overwrite'})) }}">{{ 'Overwrite from Collective Access'|trans }}</a>
        {% endif %}
        {% if 'document' == resource.data.genre or 'image' == resource.data.genre or 'audio' == resource.data.genre or 'video' == resource.data.genre %}
           <br /><a href="{{ path('resource-upload', { volume: volume.data.id, id: id }) }}" class="fa fa-upload" aria-hidden="true" title="{{ 'Replace Content'|trans }}"> </a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-8">
            {{ html|raw }}
        </div>

        <div class="col-sm-4 sidebar">
            {% if terms is not empty or showSetTerms %}
            <h4>{{ 'Subject Headings'|trans }}</h4>
                <ul class="list-group">
                {% if terms is not empty %}
                    {% for term in terms %}
                    <li class="list-group-item">
                        <a href="{{ path('term-detail', { id: term.id }) }}">{{ term.localizedName(app.request.locale) }}</a>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        <a class="post" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'set-terms-from': showSetTerms})) }}">{{ 'Set from Alternate Language'|trans }}</a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}

            {% if hasPart is not empty or '-collection' in resource.data.genre  %}
            <h4>{{ 'Contents'|trans }}
                <small><a href="{{ path('resource-upload-child', { 'volume' : volume.data.id, 'id' : resource.data.id }) }}" class="fa fa-plus" title="{{ 'upload child resource' }}"> </a></small>
                <small><a href="#" id="save-haspart" onclick="$('#update-haspart').submit()" class="fa fa-save collapse" title="{{ 'save changed order'|trans }}"> </a></small>
            </h4>
            {% if hasPart is not empty %}
            <ul class="list-group" id="sortable-haspart">
                {% for child in hasPart %}
                <li class="list-group-item" data-id="{{ child['id'] }}">
                    <a href="{{ path('resource-detail', { 'volume' : volume.data.id, 'id' : child['id'] }) }}">{{ child['name'] }}</a>
                    {{ helper.icon_genre(child) }}
                </li>
                {% endfor %}
            </ul>

            <form id="update-haspart" method="POST">
                <input type="hidden" name="resource_group" value="haspart" />
                <input id="order-haspart" type="hidden" name="order" value="" />
            </form>
            <script>
                Sortable.create(document.getElementById('sortable-haspart'), {
                    onUpdate: function (/**Event*/ evt) {
                        // enable save-button
                        $('#save-haspart').collapse();
                        var array = $("#sortable-haspart > li").map(function() {
                            return $(this).data('id');
                        }).get();
                        $('#order-haspart').val(JSON.stringify(array));
                    }
                });
            </script>
            {% endif %}
        {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
