{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}
{% import 'Shared/select2.html.twig' as select2 %}

{% block head %}
    {{ select2.head() }}

    <script>
    $(document).ready(function() {
        $('.select2').select2({
            language: {{ app.request.getLocale()|json_encode|raw }}
        });

        // wire generate slug button
        $('#dtaDirNameButton').click(function() {
            var url = '{{ path('api-slugify', { 'text' : '' }) }}';
            var title = $("input[name='tei_header[title]']").val();
            if ('' !== title.trim()) {
                $.get(url + encodeURI(title), function(data) {
                    $("input[name='tei_header[dtaDirName]']").val(data.slug);
                });
            }
        });
    });
    </script>
{% endblock %}

{% block body %}
    {{ helper.render_parent_path(parentPath) }}

    <h1 class="richtext">
        {% if id is empty %}
            {% if 'collection-add' == app.request.get('_route') %}
            {{ 'Add Collection'|trans }}
            {% else %}
            {{ 'Add Resource'|trans }}
            {% endif %}
        {% else %}
        <a href="{{ path('resource-detail', { 'volume': volume.data.id, 'id' : id }) }}">
            {{ titleHtml|raw }}
        </a>
        {% endif %}
    </h1>
    {{ helper.display_flashes() }}

    {# custom widget for 'block_prefix' => 'generate_slug_widget' #}
    {# see https://medium.com/@symfony/new-in-symfony-4-3-simpler-form-theming-c2310512aa9f #}
    {% form_theme form.dtaDirName 'form/fields.html.twig' %}

    {# renders all fields *and* the form start and end tags #}
    {{ form(form) }}
{% endblock %}