{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}
{% import 'Shared/select2.html.twig' as select2 %}

{% block head %}
    {{ select2.head() }}

    <script>
    $(document).ready(function() {
        $('.select2').select2({
            language: {{ app.request.getLocale()|json_encode|raw }}
        });
    });
    </script>
{% endblock %}

{% block body %}
    {{ helper.render_parent_path(parentPath) }}

    <h1 class="richtext">
        {% if id is empty %}
            {% if 'collection-add' == app.request.get('_route') %}
            {{ 'Add Collection'|trans }}
            {% else %}
            {{ 'Add Resource'|trans }}
            {% endif %}
        {% else %}
        <a href="{{ path('resource-detail', { 'volume': volume.data.id, 'id' : id }) }}">
            {{ titleHtml|raw }}
        </a>
        {% endif %}
    </h1>
    {{ helper.display_flashes() }}

    {# renders all fields *and* the form start and end tags #}
    {{ form(form) }}
{% endblock %}