{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}

{% block body %}
    <h2>Add a child document to <i>{{ entity.title }}</i></h2>
    {{ helper.display_flashes() }}
    <form action="{{ path('resource-upload-child', { 'volume' : volume, 'id' : id }) }}" method="post" enctype="multipart/form-data" class="dropzone">
        {{ helper.dropzone_fileinput() }}
        <input type="submit" value="Upload" id="upload" />
    </form>
{% endblock %}

{% block head %}
    {{ parent() }}
    {{ helper.dropzone_head() }}
{% endblock %}
