{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}

{% block head %}
    {{ helper.copy_to_clipboard_head() }}

    <script src="{{ app.request.basepath }}/js/Sortable.min.js"></script>
{% endblock %}

{% block body %}
    <h2>
        {{ volume['data'].name }}
    </h2>
    {{ helper.display_flashes() }}

    <form method="POST" action="{{ path('volume-detail', { 'id': id }) }}">
        <input name="q" value="{{ q }}" />
        <input type="submit" value="{{ 'Search'|trans }}" />
    </form>

    <div style="text-align: right">
        <a href="{{ path(app.request.attributes.get('_route') ~ '-dc', app.request.attributes.get('_route_params')) }}">{{ 'Dublin Core'|trans }}</a><br />
            WebDAV:
            <span id="url">{{ webdav_base }}/{{ id }}/{{ volume['data'].fname }}</span>
            {{ helper.copy_to_clipboard_button('url', 'Copy to Clipboard, then press [Ctrl]-u in oXygen and paste to open'|trans) }}
    </div>
    <div class="row">
        <div class="col-sm-8">
        {% if result is not empty %}
            {# coming from a search #}
            <h3>{{ 'Search Results'|trans }}</h3>
            <ul>
            {% for resource in result.data %}
                <li>
                    {% if resource.id matches '/^volume\-/' %}
                    <a href="{{ path('volume-detail', { id: resource.id }) }}">
                        {{ resource.name }}
                    </a>
                    {% else %}
                        {% set parts = resource.shelfmark|split('/') %}
                    <a href="{{ path('resource-detail', { volume: parts[1]|preg_replace('/^[0-9]+\:/', ''), id: resource.id }) }}">
                        {{ resource.name }}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% elseif resources_grouped is not empty %}
            {% set groups = [ "introduction", "documents", "images", "maps" ] %}
            <h3>{{ 'Resources'|trans }}</h3>
            <ul class="list-group">
                {% for key in groups if resources_grouped[key] is defined %}
                    {% set group = resources_grouped[key] %}
                <li class="list-group-item">
                    <h4>
                        <a href="#{{ key }}" data-toggle="collapse">{{ group.name|trans({}, 'additional') }}</a>
                        {% if key == 'documents' or key == 'images' %}
                        <small><a href="{{ path('collection-add', { 'volume' : id, 'genre' : key|trim('s', 'right') ~ '-collection' }) }}" class="fa fa-plus" title="{{ 'add ' ~ key ~ ' collection' }}"> </a></small>
                        <small><a href="#" id="save-{{ key }}" onclick="$('#update-{{ key }}').submit()" class="fa fa-save collapse" title="{{ 'save changed order'|trans }}"> </a></small>
                        {% endif %}
                    </h4>
                    <form id="update-{{ key }}" method="POST">
                        <input type="hidden" name="resource_group" value="{{ key }}" />
                        <input id="order-{{ key }}" type="hidden" name="order" value="" />
                    </form>
                    <div id="{{ key }}" class="collapse">
                        <ul id="sortable-{{ key }}" class="list-group">
                        {% for subkey,resource in group.resources %}
                            <li class="list-group-item" data-id="{{ resource.id }}">
                            {% if resource.resources is not empty %}
                                <h5>
                                    <a href="#{{ subkey }}" data-toggle="collapse">{{ resource.name }}</a>
                                    ({{ resource.resources|length }})
                                    {% if resource.id is not empty %}
                                    <small><a href="{{ path('resource-detail', { volume: id, id: resource.id }) }}" class="fa fa-eye" title=""{{ 'view'|trans }}> </a></small>
                                    {% endif %}
                                </h5>
                                <div id="{{ subkey }}" class="collapse">
                                    <ul class="list-group">
                                    {% for subresource in resource.resources if subresource.id is not empty %}
                                    <li class="list-group-item">
                                        <a href="{{ path('resource-detail', { volume: id, id: subresource.id }) }}">
                                        {{ subresource.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% elseif resource.id is not empty %}
                                <h5><a href="{{ path('resource-detail', { volume: id, id: resource.id }) }}">
                                {{ resource.name }}
                                </a></h5>
                            {% else %}
                                <h5>{{ resource.name }}</h5>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                        <script>
                            Sortable.create(document.getElementById('sortable-{{ key }}'), {
                                onUpdate: function (/**Event*/ evt) {
                                    // enable save-button
                                    $('#save-{{  key }}').collapse();
                                    var array = $("#sortable-{{ key }} > li").map(function() {
                                        return $(this).data('id');
                                    }).get();
                                    $('#order-{{  key }}').val(JSON.stringify(array));
                                }
                            });
                        </script>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {{ html|raw }}
        </div>

        <div class="col-sm-4 sidebar">
        </div>
    </div><!-- .row -->
{% endblock %}
