{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}
{% import 'Shared/select2.html.twig' as select2 %}

{% block head %}
    {{ select2.head() }}

    <script>
    $(document).ready(function() {
        $('.select2').select2({
            language: {{ app.request.getLocale()|json_encode|raw }}
        });
    });
    </script>
{% endblock %}

{% block body %}
    <h2>
        {% if id is empty %}
        {{ 'Add Resource'|trans }}
        {% else %}
        <a href="{{ path('volume-detail', { 'id' : id }) }}">
            {{ entity.title }}
        </a>
        {% endif %}
    </h2>
    {{ helper.display_flashes() }}

    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {# renders all fields *and* the form start and end tags #}
    {{ form(form) }}
{% endblock %}